<div class="modal-header">
    <h3>Creating a new Crag</h3>
</div>
<div class="modal-body">
  <form>
    <legend>Enter the data for the crag to be created.</legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input
      ng-model="state.crag.name"
      type="text"
      name="name"
      required
      ng-required="true"
      class="form-control"></input>
    </div>
    <div class="form-group">
      <label for="number_of_walls">Country</label>
      <input
      ng-model="state.crag.country"
      type="text"
      name="country"
      required
      disabled
      value="Canada"
      ng-required="true"
      class="form-control"></input>
    </div>
    <div class="form-group">
      <label for="number_of_walls">Province</label>
      <select
      ng-model="state.crag.province"
      type="text"
      name="province"
      required
      ng-required="true"
      class="form-control">
      <option value="">-- Select Province --</option>
      <option value="Alberta">Alberta</option>
      <option value="British Columbia">British Columbia</option>
      <option value="Manitoba">Manitoba</option>
      <option value="New Brunswick">New Brunswick</option>
      <option value="Newfoundland &amp; Labrador">Newfoundland &amp; Labrador</option>
      <option value="Northwest Territories">Northwest Territories</option>
      <option value="Nova Scotia">Nova Scotia</option>
      <option value="Nunavut">Nunavut</option>
      <option value="Ontario">Ontario</option>
      <option value="Prince Edward Island">Prince Edward Island</option>
      <option value="Quebec">Quebec</option>
      <option value="Saskatchewan">Saskatchewan</option>
      <option value="Yukon">Yukon</option>
    </select>
    </div>
    <div class="form-group">
      <label for="thumbnail_image_url">Thumbnail Image URL</label>
      <input
      ng-model="state.crag.thumbnail_image_url"
      type="url"
      name="thumbnail_image_url"
      required
      ng-required="true"
      class="form-control"></input>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
      ng-model="state.crag.description"
      name="description"
      required
      ng-required="true"
      class="form-control"></textarea>
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="button-create" ng-click="state.create()">Create</button>
    <button class="button-goto" ng-click="state.cancel()">Cancel</button>
</div>
