<div id="crag-list">
  <div class="col-xs-8">
    <div class="list">
      <div class="crag">
        <img src="http://placekitten.com/100/100" alt="Route Pic">
        <h3>Cochrane Lane</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, omnis, aliquam praesentium cumque nemo magnam non rem et beatae obcaecati dicta minus est necessitatibus recusandae quia architecto sint dolor optio reiciendis consectetur ea molestias harum voluptate. Vel, illo, placeat sequi molestias facilis omnis nisi.<a href="/#/crag/1"> View Crag</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="sidebar">
      <button class="btn btn-success" type="button" ng-click="state.openNewCragModal()">
        <i class="fa fa-plus"></i> add a new crag
      </button>
    </div>
  </div>
</div>
