<section id="crag-list">
  <div class="crags">
    <div class="crags-menu">
      <button class="button-create" type="button" ng-click="state.openNewCragModal()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="list">
      <div class="crag" ng-repeat="crag in state.crags">
        <div class="crag-image">
          <img src="{{ crag.thumbnail_image_url }}" alt="Route Pic">
        </div>
        <div class="crag-text">
          <h3><a href="/#/crag/{{crag.id }}">{{ crag.name }}</a></h3>
          <div class="crag-attrib">
            <i class="fa fa-ellipsis-v"></i> <a href="/#/crag/{{crag.id }}">{{ crag.number_of_walls }} walls</a> | <i class="fa fa-ellipsis-v"></i> <a href="/#/crag/{{ crag.id }}/routes">{{ crag.number_of_routes }} routes</a> | <rating value="crag.rating" state-on="'fa fa-star'" state-off="'fa fa-star-o'" readonly=true></rating>
          </div>
          <p>{{ crag.description }}</p>
        </div>
        <div class="crag-buttons">
          <a href="/#/crag/{{ crag.id }}" class="button-plain">Crag Overview</a>
          <a href="/#/crag/{{ crag.id }}/routes" class="button-plain">Routes</a>
        </div>
      </div>
    </div>
  </div>
</section>
