<div id="crag-list">
  <div class="col-xs-8">
    <div class="list">
      <div class="crag" ng-repeat="crag in state.crags">
        <img src="{{ crag.thumbnail_image_url }}" alt="Route Pic">
        <h3>{{ crag.name }} | {{ crag.number_of_walls }} walls</h3>
        <p>{{ crag.description }}<a href="/#/crag/{{ crag.id }}"> View Crag</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="sidebar">
      <button class="btn btn-success" type="button" ng-click="state.openNewCragModal()">
        <i class="fa fa-plus"></i> add a new crag
      </button>
    </div>
  </div>
</div>
