<div class="row">
  <div class="col-xs-4">
    <h3>Recently Added Routes</h3>
    <ul>
      <li><a href="/#/route/1">Lorem ipsum Fugiat ut.</a></li>
      <li><a href="/#/route/2">Lorem ipsum Qui deserunt.</a></li>
      <li><a href="/#/route/3">Lorem ipsum Irure tempor.</a></li>
      <li><a href="/#/route/4">Lorem ipsum Cupidatat aliquip.</a></li>
      <li><a href="/#/route/5">Lorem ipsum Esse proident.</a></li>
      <li><a href="/#/route/6">Lorem ipsum Incididunt pariatur.</a></li>
      <li><a href="/#/route/7">Lorem ipsum Velit magna.</a></li>
      <li><a href="/#/route/8">Lorem ipsum Qui labore.</a></li>
      <li><a href="/#/route/9">Lorem ipsum Velit est.</a></li>
      <li><a href="/#/route/10">Lorem ipsum Velit mollit.</a></li>
      <li><a href="/#/route/11">Lorem ipsum Dolor incididunt.</a></li>
      <li><a href="/#/route/12">Lorem ipsum Tempor eu.</a></li>
      <li><a href="/#/route/13">Lorem ipsum Mollit adipisicing.</a></li>
      <li><a href="/#/route/14">Lorem ipsum Ea sint.</a></li>
      <li><a href="/#/route/15">Lorem ipsum Non enim.</a></li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>Recently Added Walls</h3>
    <ul>
      <li><a href="/#/wall/1">Lorem ipsum Irure dolore.</a></li>
      <li><a href="/#/wall/2">Lorem ipsum Cillum magna.</a></li>
      <li><a href="/#/wall/3">Lorem ipsum In eu.</a></li>
      <li><a href="/#/wall/4">Lorem ipsum Minim cillum.</a></li>
      <li><a href="/#/wall/5">Lorem ipsum Ullamco cupidatat.</a></li>
      <li><a href="/#/wall/6">Lorem ipsum Ea do.</a></li>
      <li><a href="/#/wall/7">Lorem ipsum In minim.</a></li>
      <li><a href="/#/wall/8">Lorem ipsum Adipisicing aliquip.</a></li>
      <li><a href="/#/wall/9">Lorem ipsum Dolor dolore.</a></li>
      <li><a href="/#/wall/10">Lorem ipsum Officia exercitation.</a></li>
      <li><a href="/#/wall/11">Lorem ipsum Occaecat dolor.</a></li>
      <li><a href="/#/wall/12">Lorem ipsum Velit pariatur.</a></li>
      <li><a href="/#/wall/13">Lorem ipsum Deserunt adipisicing.</a></li>
      <li><a href="/#/wall/14">Lorem ipsum Veniam non.</a></li>
      <li><a href="/#/wall/15">Lorem ipsum Ut eu.</a></li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>Recently Added Crags</h3>
    <ul>
      <li><a href="/#/crag/1">Lorem ipsum Excepteur dolore.</a></li>
      <li><a href="/#/crag/2">Lorem ipsum Ut mollit.</a></li>
      <li><a href="/#/crag/3">Lorem ipsum Sint reprehenderit.</a></li>
      <li><a href="/#/crag/4">Lorem ipsum In laboris.</a></li>
      <li><a href="/#/crag/5">Lorem ipsum Cillum aliquip.</a></li>
      <li><a href="/#/crag/6">Lorem ipsum Sed in.</a></li>
      <li><a href="/#/crag/7">Lorem ipsum Ea sed.</a></li>
      <li><a href="/#/crag/8">Lorem ipsum Sed nisi.</a></li>
      <li><a href="/#/crag/9">Lorem ipsum Mollit anim.</a></li>
      <li><a href="/#/crag/10">Lorem ipsum Cillum exercitation.</a></li>
      <li><a href="/#/crag/11">Lorem ipsum Mollit laborum.</a></li>
      <li><a href="/#/crag/12">Lorem ipsum Magna minim.</a></li>
      <li><a href="/#/crag/13">Lorem ipsum Fugiat magna.</a></li>
      <li><a href="/#/crag/14">Lorem ipsum In reprehenderit.</a></li>
      <li><a href="/#/crag/15">Lorem ipsum Sint ut.</a></li>
    </ul>
  </div>
</div>
