<div class="row">
  <div class="col-xs-4">
    <h3>Recently Added Routes</h3>
    <ul>
      <li>Lorem ipsum Fugiat ut.</li>
      <li>Lorem ipsum Qui deserunt.</li>
      <li>Lorem ipsum Irure tempor.</li>
      <li>Lorem ipsum Cupidatat aliquip.</li>
      <li>Lorem ipsum Esse proident.</li>
      <li>Lorem ipsum Incididunt pariatur.</li>
      <li>Lorem ipsum Velit magna.</li>
      <li>Lorem ipsum Qui labore.</li>
      <li>Lorem ipsum Velit est.</li>
      <li>Lorem ipsum Velit mollit.</li>
      <li>Lorem ipsum Dolor incididunt.</li>
      <li>Lorem ipsum Tempor eu.</li>
      <li>Lorem ipsum Mollit adipisicing.</li>
      <li>Lorem ipsum Ea sint.</li>
      <li>Lorem ipsum Non enim.</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>Recently Added Walls</h3>
    <ul>
      <li>Lorem ipsum Irure dolore.</li>
      <li>Lorem ipsum Cillum magna.</li>
      <li>Lorem ipsum In eu.</li>
      <li>Lorem ipsum Minim cillum.</li>
      <li>Lorem ipsum Ullamco cupidatat.</li>
      <li>Lorem ipsum Ea do.</li>
      <li>Lorem ipsum In minim.</li>
      <li>Lorem ipsum Adipisicing aliquip.</li>
      <li>Lorem ipsum Dolor dolore.</li>
      <li>Lorem ipsum Officia exercitation.</li>
      <li>Lorem ipsum Occaecat dolor.</li>
      <li>Lorem ipsum Velit pariatur.</li>
      <li>Lorem ipsum Deserunt adipisicing.</li>
      <li>Lorem ipsum Veniam non.</li>
      <li>Lorem ipsum Ut eu.</li>
    </ul>
  </div>
  <div class="col-xs-4">
    <h3>Recently Added Crags</h3>
    <ul>
      <li>Lorem ipsum Excepteur dolore.</li>
      <li>Lorem ipsum Ut mollit.</li>
      <li>Lorem ipsum Sint reprehenderit.</li>
      <li>Lorem ipsum In laboris.</li>
      <li>Lorem ipsum Cillum aliquip.</li>
      <li>Lorem ipsum Sed in.</li>
      <li>Lorem ipsum Ea sed.</li>
      <li>Lorem ipsum Sed nisi.</li>
      <li>Lorem ipsum Mollit anim.</li>
      <li>Lorem ipsum Cillum exercitation.</li>
      <li>Lorem ipsum Mollit laborum.</li>
      <li>Lorem ipsum Magna minim.</li>
      <li>Lorem ipsum Fugiat magna.</li>
      <li>Lorem ipsum In reprehenderit.</li>
      <li>Lorem ipsum Sint ut.</li>
    </ul>
  </div>
</div>
